@model TodoViewModel
@using Humanizer

@{
    ViewData["Title"] = "Manage your todo list";
}

    <div class="panel panel-default todo-panel">
        <div class="panel-heading">@ViewData["Title"]</div> <!-- Show title from viewdata line 4-->

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>&#x2714;</td>
                    <td>Item</td>
                    <td>Due</td>
                </tr>
            </thead>
            @foreach (var todo in Model.Todos)
            {
                <tr>
                    <td>
                        <form asp-action="MarkDone" method="post">
                            <input type="checkbox" class="done-checkbox" />
                            <input type="hidden" name="id" value="@todo.Id" />
                        </form>
                    </td>
                    <td>@todo.Title</td>
                    <td>@todo.DueAt.Humanize()</td>
                </tr>
            }
        </table>

        <div class="panel-footer	add-item-form">	
            @await Html.PartialAsync("AddTodoPartial", new Todo())
        </div>


        <div class="panel-footer add-item-form">
            <!-- TODO: Add item form -->
        </div>
    </div>